.App {
    text-align: center;
}

.card {
    border: 1px solid black;
    width: 300px;
    padding: 16px;
    margin: 10px auto auto;
    border-radius: 8px;
}

.hover {
    border: 1px solid black;
    width: 300px;
    margin: 10px auto auto;
    padding: 16px;
    background: #61dafb;
    border-radius: 8px;
}

.cardContainer {
    height: 350px;
    overflow: scroll;
    border-radius: 8px;
    border: 1px solid red;
    width: 350px;
    margin: auto;
    padding: 10px;
}

.input {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 365px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid;
    padding: 5px;
}

.highlight {
    text-transform: capitalize;
    color: cornflowerblue;
}

.highlightID {
    color: cornflowerblue;
}

.leftAlign {
    text-align: left;
}